<% if user_signed_in? %>

<h1><%= current_user.username %>'s Feeds</h1>

    <% @following_tweets.each do |tweet| %>
        <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %>
                    </h3>
                </div>
                <div class="panel-body">
                    <%= tweet.message.html_safe %>
            </div>
        </div>
    <% end %>
    <% else %>
        <h1>Sign in/Sign up to view your feed!</h1>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success btn-lg' %>
<% end %>